In [1]:
import csv
import re
import string

In [2]:
from timeit import default_timer as timer

In [ ]:
def preprocess_text(text):
    """
    """
    text = text.strip().lower()
    text = re.sub('\d+|\d+\.\d+', '[NUM]', text)

    # PHI tags are in format [**INFORMATION**]
    text = re.sub('(\[\*\*.*?\*\*\])', '[PHI]', text)
#     phi_tags = re.findall('(\[\*\*.*?\*\*\])', text)
#     for i, tag in enumerate(phi_tags):
#         text = text.replace(tag, '__PHI_{}__'.format(i))
        
    text = re.sub('---+', '\n\n-----\n\n', text)
    text = re.sub('___+', '\n\n_____\n\n', text)
    text = re.sub('[\?\.\!]+(?=[\?\.\!])', '', text)
    text = re.sub('\\+', ' ', text)
    text = re.sub('-|/', '_', text)
    text = re.sub('_+', '_', text)
    text = re.sub('\*|\(|\)', ' ', text)
    text = re.sub('['+'!"#$%&\'()*+,-./:;<=>?@\\^`{|}~'+']', '', text)
    text = re.sub('\s_\s', ' ', text)
    text = re.sub('\r+|\n+|\u0085+|\u2028+|\u2029+', ' ', text) # Replace newlines
    text = re.sub('\s+|\u00A0+', ' ', text) # Replace multiple spaces w/ single    
    segments = text.split(' ')
    
    return segments

In [3]:
NOTEEVENTS = "../data/NOTEEVENTS.csv"

In [ ]:
notes = []
with open(NOTEEVENTS, "r") as file:
    reader = csv.reader(file)
    for i, note in enumerate(reader):
        note = preprocess_text(note[-1])
        notes.append(note)
#         if note[6] == 'Discharge summary':
#             note = preprocess_text(note[-1])
#             notes.append(note)

In [4]:
import gensim
from gensim.models.fasttext import FastText
from timeit import default_timer as timer

In [ ]:
model = FastText(size=300, window=10, min_count=5)

In [ ]:
model.build_vocab(lines)

In [ ]:
print(model)

In [ ]:
start = timer()

model.train(lines, total_examples=len(lines), epochs=5)

end = timer()
print(end - start)

In [ ]:
print(model)

In [ ]:
model.save('saved_model_gensim2')

In [ ]:
model.wv.doesnt_match(['cipro', 'dexamethasone', 'radiology', 'sitagliptin'])

In [ ]:
with open("processed_text.csv", "w") as f:
    writer = csv.writer(f)
    writer.writerows(notes)

In [7]:
def clean_string1(text):
    """
    """
    text = text.strip().lower().replace('-', '_').replace('.', '_').replace(' ', '_').rstrip('_')
    return text

def preprocess_text2(query):
    """
    """
    query = re.sub('\d+|\d+\.\d+', '[NUM]', query)
    query = re.sub('(\[\*\*.*?\*\*\])', '[PHI]', query)
    query = query.strip('"').strip('?').strip("'").strip('(').strip(')').strip(':')
    query = re.sub('['+'!"#$%&\'()*+,-./:;<=>?@\\^`{|}~'+']', '', query)
    word_list = query.split()
    word_list = [clean_string1(word) for word in word_list]
    return word_list

In [ ]:
notes2 = []
with open(NOTEEVENTS, "r") as file:
    reader = csv.reader(file)
    for i, note in enumerate(reader):
        note = preprocess_text2(note[-1])
        notes2.append(note)

In [ ]:
with open("processed_text.csv", "w") as f:
    writer = csv.writer(f)
    writer.writerows(notes2)

In [ ]:
notes2 = []
with open("processed_text.csv", "r") as f:
    reader = csv.reader(f)
    for note in reader:
        notes2.append(note)

In [ ]:
notes2[2]

## FastText model

In [5]:
import gensim
from gensim.models.fasttext import FastText
from gensim.models import Word2Vec
from timeit import default_timer as timer

In [ ]:
ft_model = FastText(size=300, window=10, min_count=5)

In [ ]:
start = timer()

ft_model.build_vocab(notes2)

end = timer()
print(end-start)
print(ft_model)

In [ ]:
start = timer()

ft_model.train(notes2, total_examples=len(notes2), epochs=5)

end = timer()
print(end - start)

In [ ]:
ft_model.save('fasttext_embeddings')

## Word2Vec model

In [ ]:
w2v_model = Word2Vec(size=300, window=10, min_count=5, sg=1)

In [ ]:
start = timer()

w2v_model.build_vocab(notes2)

end = timer()
print(end-start)
print(ft_model)

In [ ]:
start = timer()

w2v_model.train(notes2, total_examples=len(notes2), epochs=5)

end = timer()
print(end - start)

In [ ]:
w2v_model.save('w2v_embeddings')

## Preparing input data/fake labels

In [67]:
word_vectors = Word2Vec.load('w2v_embeddings')
# word_vectors = FastText.load('fasttext_embeddings')

/anaconda2/envs/py36/lib/python3.6/site-packages/ipykernel/__main__.py:3: DeprecationWarning: Call to deprecated `syn0` (Attribute will be removed in 4.0.0, use self.wv.vectors instead).
  app.launch_new_instance()

In [71]:
embedding_dim = word_vectors.wv.vectors.shape[1]

In [8]:
input_notes = []
with open(NOTEEVENTS, "r") as file:
    reader = csv.reader(file)
    for i, note in enumerate(reader):
        if note[6] == 'Discharge summary':
            note = preprocess_text2(note[-1])
            input_notes.append(note)

In [29]:
import numpy as np
from sklearn.model_selection import train_test_split

# for local testing subset notes to 5000
subset_notes = input_notes[:5000][:]

N = len(subset_notes)
# Create fake labels
p = [0.4, 0.28, 0.22, 0.19, 0.16]
y = np.array([[np.random.binomial(1, p[i]) for i in range(len(p))] for x in range(N)])
# Create 70/30 train/test split
x_train, x_test, y_train, y_test = train_test_split(subset_notes, y, test_size=0.3)

In [38]:
MAXLEN = 0
for note in subset_notes:
    if len(note) > MAXLEN:
        MAXLEN = len(note)

In [78]:
from keras.preprocessing.text import Tokenizer
max_words = len(w2v_model.wv.vocab)
max_words = 15000
token = Tokenizer(max_words)
token.fit_on_texts(subset_notes)
vocab_size = max_words + 1

sequences = token.texts_to_sequences(x_train)
test_sequences = token.texts_to_sequences(x_test)
## Convert to sequences ##
from keras.preprocessing.sequence import pad_sequences
seq_len = 3000
X = pad_sequences(sequences, maxlen=seq_len)
X_test = pad_sequences(test_sequences, maxlen=seq_len)

In [79]:
embeddings_index = {}
vocab = token.word_index.keys()
for word in vocab:
    if word in w2v_model.wv.vocab:
      coefs = np.asarray(w2v_model.wv[word], dtype='float32')
      embeddings_index[word] = coefs

print('Found %s word vectors.' % len(embeddings_index))

Found 46242 word vectors.

In [80]:
word_index = token.word_index
embedding_matrix = np.zeros((vocab_size , embedding_dim))
for word, i in word_index.items():
    if i < vocab_size:
      embedding_vector = embeddings_index.get(word)
      if embedding_vector is not None:
          # words not found in embedding index will be all-zeros.
          embedding_matrix[i] = embedding_vector

In [81]:
num_classes = y_test.shape[1]

In [ ]:
from keras.optimizers import Adam
from keras.models import Sequential,Model
from keras.layers import Dense, Activation, Dropout, Embedding, Input, Dropout, Bidirectional, GaussianNoise
from keras.layers.recurrent import LSTM, GRU

## Build the model ##
input = Input(shape=(seq_len,))
x = Embedding(input_dim = vocab_size , output_dim = embedding_dim, weights=[embedding_matrix], trainable=False)(input)
x = GaussianNoise(0.75)(x)
x = Bidirectional(GRU(units = 128, recurrent_dropout=0.2, dropout=0.2, activation = 'relu', return_sequences=True))(x)
x = Bidirectional(GRU(units = 128, recurrent_dropout=0.2, dropout=0.2, activation = 'relu'))(x)
x = Dense(128, activation='relu')(x)
x = Dropout(0.5)(x)
x = Dense(128, activation='relu')(x)
x = Dropout(0.5)(x)
x = Dense(num_classes, activation='sigmoid')(x)
model = Model(input,x)

model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])
model.fit(X,y_train,epochs=25, batch_size = 128)

## Label creation

In [1]:
# Import all libraries needed for the tutorial

# General syntax to import specific functions in a library: 
##from (library) import (specific library function)
from pandas import DataFrame, read_csv

# General syntax to import a library but no functions: 
##import (library) as (give the library a nickname/alias)
import matplotlib.pyplot as plt
import pandas as pd #this is how I usually import pandas
import sys #only needed to determine Python version number
import matplotlib #only needed to determine Matplotlib version number
import numpy as np


# Enable inline plotting
%matplotlib inline

In [3]:
#read in the two csv's

df1 = pd.read_csv("DIAGNOSES_ICD.csv")
df2 = pd.read_csv("NOTEEVENTS.csv")

/Users/chrishilger/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
# record the top codes in a list

codes = ["4019","4280","42731", "41401", "5849"]

In [5]:
#make reduced version of df1 to only contain rows that have top icd9 cods

df1_reduced = df1[df1["ICD9_CODE"].isin(codes)] 
dummy = pd.get_dummies(df1_reduced['ICD9_CODE'])

#combine the dummy df with the reduced df1 matrix

dummy_combined = pd.concat([df1_reduced, dummy],axis=1)
dummy_combined.head(10)
#dummy_combined.shape

#now drop unused columns
dummy_combined_reduced = dummy_combined.drop(['ROW_ID','SUBJECT_ID','SEQ_NUM','ICD9_CODE'], axis = 1)
dummy_combined_reduced.head(15)

     HADM_ID  4019  41401  42731  4280  5849
31    174105     0      1      0     0     0
36    178393     0      1      0     0     0
51    114585     0      0      0     1     0
53    114585     1      0      0     0     0
67    140784     0      0      0     1     0
70    140784     1      0      0     0     0
75    164853     0      0      0     0     1
89    164853     1      0      0     0     0
111   195632     0      1      0     0     0
112   195632     1      0      0     0     0
121   112906     0      1      0     0     0
122   112906     1      0      0     0     0
125   134369     0      0      0     0     1
134   134369     0      0      1     0     0
147   138376     0      0      0     0     1

In [6]:
#now filter to get single instances of HADM_ID
dcr_final = dummy_combined_reduced.drop_duplicates(subset = "HADM_ID", keep = "first")

#now join the two tables together 
df_final=pd.merge(df2,dcr_final,left_on="HADM_ID", right_on='HADM_ID',how='left')

In [7]:
#make all NaN in dummy columns zero
df_final[codes] = df_final[codes].fillna(0)

#filter category to just be discharge summary
df_final = df_final[df_final.CATEGORY == 'Discharge summary']

# removed any hadmid that have more than one entry in database
df_final = df_final.drop_duplicates(subset = "HADM_ID", keep = False)

#random sample of the data
sub_df_final = df_final.sample(1000)

In [8]:
sub_df_final.to_csv("top_icd9.csv")

,ROW_ID,SUBJECT_ID,HADM_ID,CHARTDATE,CHARTTIME,STORETIME,CATEGORY,DESCRIPTION,CGID,ISERROR,TEXT,4019,41401,42731,4280,5849
11947,15610,3133,135744,2173-08-11,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2173-7-5**] Discharge ...,0.0,0.0,0.0,0.0,0.0
29575,38527,87410,174275,2194-10-01,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2194-9-28**] ...,1.0,0.0,0.0,0.0,0.0
40143,35583,46267,113271,2146-04-11,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2146-4-9**] D...,0.0,0.0,0.0,0.0,0.0
11675,16434,52875,168988,2183-03-04,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2183-2-26**] ...,0.0,0.0,0.0,0.0,1.0
1525,1490,29334,119868,2169-06-09,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2169-6-2**] D...,0.0,0.0,1.0,0.0,0.0
5293,5065,23725,160422,2157-09-20,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2157-9-12**] ...,0.0,0.0,0.0,0.0,0.0
16472,24391,8980,101170,2106-02-26,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2106-2-5**] D...,1.0,0.0,0.0,0.0,0.0
13844,14938,1646,170199,2160-08-01,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2160-7-28**] Discharge...,0.0,1.0,0.0,0.0,0.0
35929,30682,23168,123395,2130-04-11,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2130-4-11**] Dischar...,0.0,0.0,0.0,0.0,0.0
7265,7184,47956,154518,2167-05-03,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2167-4-28**] ...,0.0,0.0,0.0,0.0,0.0
13894,15588,23331,149313,2102-11-07,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2102-10-5**] Dischar...,0.0,0.0,0.0,0.0,0.0
4346,4402,32216,158834,2198-09-03,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2198-7-13**] ...,1.0,0.0,0.0,0.0,0.0
48045,42453,49015,187378,2112-11-01,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2112-10-25**] ...,0.0,0.0,1.0,0.0,0.0
52051,54911,47342,107247,2150-07-22,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2150-7-18**] ...,1.0,0.0,0.0,0.0,0.0
30412,38045,67922,106937,2187-08-28,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2187-8-26**] ...,1.0,0.0,0.0,0.0,0.0
20035,17263,56911,102783,2172-01-06,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2172-1-2**] D...,0.0,1.0,0.0,0.0,0.0
7876,5802,61455,110475,2121-04-02,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2121-3-27**] ...,1.0,0.0,0.0,0.0,0.0
2547,2585,51839,161013,2192-05-04,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2192-4-14**] ...,0.0,0.0,0.0,0.0,0.0
52184,54666,47634,192850,2143-07-21,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2143-7-16**] ...,0.0,0.0,1.0,0.0,0.0
17123,24080,5196,138757,2199-03-20,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2199-3-2**] D...,0.0,0.0,0.0,1.0,0.0
10680,8523,13689,199028,2181-06-08,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2181-5-30**] ...,0.0,1.0,0.0,0.0,0.0
7897,6000,80350,196931,2106-06-09,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2106-5-18**] ...,1.0,0.0,0.0,0.0,0.0
40401,36705,82217,183943,2112-08-03,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2112-7-23**] ...,1.0,0.0,0.0,0.0,0.0
53596,48559,23739,175908,2133-12-23,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2133-12-17**] ...,0.0,0.0,1.0,0.0,0.0
15824,11483,11617,141217,2108-02-21,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2108-2-17**] Discharge...,0.0,0.0,1.0,0.0,0.0
6710,10374,25673,197957,2180-05-31,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2180-5-27**] ...,0.0,0.0,0.0,0.0,0.0
6251,5852,13353,177798,2183-11-02,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2183-10-27**] Discha...,0.0,1.0,0.0,0.0,0.0
26880,21523,11523,133248,2169-10-03,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2169-9-29**] ...,0.0,0.0,0.0,1.0,0.0
43927,36636,89575,198482,2140-08-26,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2140-8-24**] ...,0.0,0.0,0.0,0.0,0.0
11895,11237,16601,133200,2153-03-04,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2153-2-26**] ...,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45874,51121,94821,196738,2196-02-22,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2196-2-17**] ...,0.0,0.0,1.0,0.0,0.0
54692,54475,93924,141141,2106-10-14,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2106-10-12**] ...,1.0,0.0,0.0,0.0,0.0
24622,29134,23293,147539,2130-12-15,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2130-12-7**] Dischar...,0.0,0.0,0.0,0.0,0.0
27830,24893,57151,162798,2135-02-21,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2135-2-15**] ...,0.0,1.0,0.0,0.0,0.0
55384,53429,11123,177717,2143-08-02,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2143-7-22**] ...,0.0,0.0,0.0,1.0,0.0
29022,37096,46975,189215,2146-11-29,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2146-11-25**] ...,0.0,0.0,0.0,0.0,0.0
15265,12599,39,106266,2114-12-09,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2114-11-29**] Discha...,0.0,0.0,0.0,0.0,0.0
29474,37727,75353,122227,2151-11-23,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2151-11-16**] ...,0.0,0.0,0.0,0.0,1.0
34412,25716,15003,110183,2147-08-16,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2147-8-6**] D...,1.0,0.0,0.0,0.0,0.0
20453,16741,20005,145132,2138-01-18,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2138-1-5**] Discharge ...,0.0,0.0,0.0,0.0,1.0
17168,21586,21102,182027,2134-05-21,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2134-5-10**] ...,0.0,0.0,0.0,0.0,0.0
37104,46465,22792,125747,2170-12-10,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2170-11-30**] ...,0.0,1.0,0.0,0.0,0.0
40353,35451,46335,114333,2101-07-26,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2101-7-17**] ...,0.0,0.0,0.0,0.0,0.0
577,363,12819,116800,2181-05-11,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2181-5-6**] D...,1.0,0.0,0.0,0.0,0.0
37960,46095,71119,123743,2148-03-03,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2148-2-27**] ...,0.0,1.0,0.0,0.0,0.0
43663,36988,98666,161654,2151-05-28,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2151-4-27**] ...,1.0,0.0,0.0,0.0,0.0
17636,23465,19588,177358,2145-01-27,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2145-1-4**] D...,0.0,0.0,0.0,0.0,0.0
12798,15220,43990,109965,2155-09-10,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2155-9-8**] D...,0.0,0.0,0.0,0.0,1.0
14040,14701,73837,171994,2156-12-24,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2156-12-15**] ...,0.0,1.0,0.0,0.0,0.0
36590,46237,87537,160002,2145-03-03,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2145-2-23**] ...,0.0,0.0,0.0,0.0,1.0
15565,12970,93515,147566,2156-09-20,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2156-9-19**] ...,1.0,0.0,0.0,0.0,0.0
52013,53935,69624,116388,2105-04-03,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2105-4-1**] D...,0.0,0.0,0.0,0.0,0.0
31997,37643,79195,181626,2187-08-31,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2187-8-23**] ...,1.0,0.0,0.0,0.0,0.0
52885,49737,6423,108232,2114-02-06,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2114-1-29**] ...,0.0,0.0,0.0,0.0,0.0
50899,43742,96093,155273,2101-09-10,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2101-9-4**] D...,0.0,0.0,0.0,1.0,0.0
27695,24539,3709,185630,2143-07-04,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2143-6-11**] Dischar...,0.0,0.0,0.0,0.0,0.0
21121,16686,16935,186620,2181-01-30,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2181-1-27**] Dischar...,0.0,0.0,0.0,0.0,0.0
27647,20704,7149,129152,2101-02-22,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2101-2-15**] Dischar...,1.0,0.0,0.0,0.0,0.0
29084,38787,98833,179713,2144-02-12,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2144-2-8**] D...,0.0,0.0,0.0,0.0,0.0
11946,15609,3980,167283,2114-01-08,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2114-1-5**] Discharg...,0.0,0.0,0.0,1.0,0.0